<nav class="navbar navbar-expand-sm justify-content-center" id="navbar">
    <div class="navbar-header" id="navbar-header">
        <a class="navbar-brand" href="index.html" id="navbar-brand">
            <img alt="Cat Cage Logo" id="logo-img" src="asset/img/favicon.svg">
            <span id="logo-text">Cat Cafe</span>
        </a>
    </div>
    <div class="container" id="navbar-container">
        <ul class="navbar-nav" id="navbar-nav-ul">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="visit-a-lounge.html">Visit a Lounge</a></li>
            <li class="nav-item"><a class="nav-link" href="meet-our-stars.html">Meet our Stars!</a></li>
            <li class="nav-item"><a class="nav-link" href="get-involved.html">Get Involved</a></li>
            <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
        </ul>
        <ul class="navbar-nav navbar-right" id="navbar-nav-ul-right">
            <li class="nav-item">
                <button class="btn navbar-button" href="javascript:void(0);" id="navbar-button-sign-up">Sign Up
                </button>
            </li>
            <li class="nav-item">
                <button class="btn navbar-button" href="javascript:void(0);" id="navbar-button-sign-in">Sign In
                </button>
            </li>
        </ul>
    </div>
</nav>
